@{
    ViewData["Title"] = "LinkSent";
}
@*Ricky wrote this code*@
@*Stephen styled this page*@
<div class="jumbotron">
    <div class="text-center">
        <p>A link to reset your password has been sent to your e-mail address on file.</p>
        <br />
        <p>If you do not see the e-mail within 24 hours, please contact your agent.</p>
        <br />
        <a href="/Home/Index"><span style="font-size:28px;">Click here to return to Home</span></a>
    </div>
</div>
