@model Group8.TravelExperts.Data.Domain.Customer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Customer</h4>
<div class="jumbotron mt-4">
    <div class="text-left">
        <h1 class="text-center">Update Information</h1>
        <hr />
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="Edit">
                    <table class="table" id="regtable" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td colspan="3">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </td>
                        </tr>

                        <tr>
                            <td>

                                <label asp-for="CustomerId" class="control-label"></label>
                                <input asp-for="CustomerId" class="form-control" readonly />
                                <span asp-validation-for="CustomerId" class="text-danger"></span>

                            </td>
                            <td>

                                <label asp-for="CustFirstName" class="control-label"></label>
                                <input asp-for="CustFirstName" class="form-control" />
                                <span asp-validation-for="CustFirstName" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustLastName" class="control-label"></label>
                                <input asp-for="CustLastName" class="form-control" />
                                <span asp-validation-for="CustLastName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr><td colspan="3"><hr /></td></tr>
                        <tr>
                            <td colspan="3" style="padding-bottom: 20px;">
                                <label asp-for="CustAddress" class="control-label"></label>
                                <input asp-for="CustAddress" class="form-control" />
                                <span asp-validation-for="CustAddress" class="text-danger"></span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <label asp-for="CustCity" class="control-label"></label>
                                <input asp-for="CustCity" class="form-control" />
                                <span asp-validation-for="CustCity" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustProv" class="control-label"></label>
                                <input asp-for="CustProv" class="form-control" />
                                <span asp-validation-for="CustProv" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustPostal" class="control-label"></label>
                                <input asp-for="CustPostal" class="form-control" />
                                <span asp-validation-for="CustPostal" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr><td colspan="3"><hr /></td></tr>
                        <tr>
                            <td style="padding-bottom: 20px;">
                                <label asp-for="CustHomePhone" class="control-label"></label>
                                <input asp-for="CustHomePhone" class="form-control" />
                                <span asp-validation-for="CustHomePhone" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustBusPhone" class="control-label"></label>
                                <input asp-for="CustBusPhone" class="form-control" />
                                <span asp-validation-for="CustBusPhone" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustFax" class="control-label"></label>
                                <input asp-for="CustFax" class="form-control" />
                                <span asp-validation-for="CustFax" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">

                                <label asp-for="CustEmail" class="control-label"></label>
                                <input asp-for="CustEmail" class="form-control" />
                                <span asp-validation-for="CustEmail" class="text-danger"></span>

                            </td>
                            <td>
                                <label asp-for="AgentId" class="control-label" hidden></label>
                                <input asp-for="AgentId" class="form-control" hidden />

                            </td>
                        </tr>
                        <tr><td colspan="3"><hr /></td></tr>
                        <tr>
                            <td class="text-center" colspan="3">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </td>
                        </tr>
                    </table>
            
            </form>
        </div>
        </div>
    </div>
</div>
       

        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
