@model Group8.TravelExperts.Data.Domain.CustomersAuthentication

@{
    ViewData["Title"] = "EditAuth";
}


<div class="jumbotron mt-4">
<div class="text-center">
    <h4>Update Username & Password</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div id="uxDisplay"></div>
            <form asp-action="EditAuth">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @*<div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <input id="uxid" asp-for="CustomerId" class="form-control" readonly />
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="Username" class="control-label">Enter New Username</label>
                    <input id="uxuser" asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Enter Current Password</label>
                    <input id="uxoldpass" type="password" asp-for="Password" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label">Enter New Password</label>
                    <input id="uxnewpass" type="password" asp-for="ConfirmPassword" class="form-control" required />
                </div>
                <div class="form-group">
                    <input type="button" id="uxreset" value="Update Username & Password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    </div>
    </div>

    <div>
        <a asp-controller="Home" asp-action="Index">Back to Home</a>
    </div>

    @section Scripts {
        <script>
            $(document).ready(function () {
                $("#uxreset").click(function () {
                    var Id = $("#uxid").val();
                    var user = $("#uxuser").val();
                    var oldp = $("#uxoldpass").val();
                    var newp = $("#uxnewpass").val();

                    $.ajax({
                        method: 'GET',
                        url: '/Register/EditAuth1',
                        data: { id: Id, user: user, oldp: oldp, newp: newp }

                    }).done(function (result, statusText, xhdr) {
                        $("#uxDisplay").html(result);
                    });

                });////end click



            });//end doc ready
        </script>
    }
