@model Group8.TravelExperts.Data.Domain.Customer

@{
    ViewData["Title"] = "RegisterDetails";
}

<div class="jumbotron mt-4">
    <div class="text-left">
        <h1 class="text-center">Register</h1>
        <hr />

        <div class="row justify-content-center">
            <div class="col-md-8">
                <form asp-action="RegisterDetails">
                    <table class="table" id="regtable" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td colspan="3">
                                <h6>Enter your information below to create an account. Fields marked with a '*' are required:</h6>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            </td>
                        </tr>
                        
                        <tr>
                            <td>
                                <label id="name" asp-for="CustFirstName" class="control-label">First Name*</label>
                                <input asp-for="CustFirstName" class="form-control" />
                                <span asp-validation-for="CustFirstName" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustLastName" class="control-label">Last Name*</label>
                                <input asp-for="CustLastName" class="form-control" />
                                <span asp-validation-for="CustLastName" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr><td colspan="3"><hr /></td></tr>
                        <tr>
                            <td colspan="3" style="padding-bottom: 20px;">
                                <label asp-for="CustAddress" class="control-label">Street Address*</label>
                                <input asp-for="CustAddress" class="form-control" />
                                <span asp-validation-for="CustAddress" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label asp-for="CustCity" class="control-label">City*</label>
                                <input asp-for="CustCity" class="form-control" />
                                <span asp-validation-for="CustCity" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustProv" class="control-label">Province*</label>
                                <input asp-for="CustProv" class="form-control" />
                                <span asp-validation-for="CustProv" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustPostal" class="control-label">Postal Code*</label>
                                <input asp-for="CustPostal" class="form-control" />
                                <span asp-validation-for="CustPostal" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr><td colspan="3"><hr /></td></tr>
                        <tr>
                            <td style="padding-bottom: 20px;">
                                <label asp-for="CustHomePhone" class="control-label">Home Phone*</label>
                                <input asp-for="CustHomePhone" class="form-control" />
                                <span asp-validation-for="CustHomePhone" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustBusPhone" class="control-label">Business Phone</label>
                                <input asp-for="CustBusPhone" class="form-control" />
                                <span asp-validation-for="CustBusPhone" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustFax" class="control-label">Fax Number</label>
                                <input asp-for="CustFax" class="form-control" />
                                <span asp-validation-for="CustFax" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <label asp-for="CustEmail" class="control-label">Email*</label>
                                <input asp-for="CustEmail" class="form-control" />
                                <span asp-validation-for="CustEmail" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr><td colspan="3"><hr /></td></tr>
                        <tr>
                            <td>
                                <label id="user" asp-for="CustomersAuthentication.Username" class="control-label">Username*</label>
                                <input asp-for="CustomersAuthentication.Username" class="form-control" />
                                <span asp-validation-for="CustomersAuthentication.Username" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustomersAuthentication.Password" class="control-label">Password*</label>
                                <input type="password" asp-for="CustomersAuthentication.Password" class="form-control" />
                                <span asp-validation-for="CustomersAuthentication.Password" class="text-danger"></span>
                            </td>
                            <td>
                                <label asp-for="CustomersAuthentication.ConfirmPassword" class="control-label">Confirm Password*</label>
                                <input type="password" asp-for="CustomersAuthentication.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="CustomersAuthentication.ConfirmPassword" class="text-danger"></span>
                            </td>
                        </tr>

                        <tr><td colspan="3"><hr /></td></tr>
                        <tr>
                            <td class="text-center" colspan="3">
                                <input type="submit" onclick="" value="Register" class="btn btn-primary" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>

@section Scripts {

}
